@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400;1,700&family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color : #fff;
  --bg-purple: #6070ff;
  --bg-dark-blue: #172b4d;
  --bg-lavender: #ebebff;
  --bg-slate-grey: #505f79;
  --text-dark-blue: #344563;
  --font-poppins: 'Roboto', sans-serif;
}

body {
  color: var(--bg-dark-blue);
  font-family: var(--font-poppins);
  line-height: 1.5;
  font-size: 0.87rem;
  background: url(./assets/Download\ premium\ image\ of\ 3D\ pink\ and\ blue\ balls\ on\ a\ blue\ background\ by\ Busbus\ about\ abstract\ backgrounds\,\ background\ design\,\ gradient\,\ gradient\ backgrounds\,\ and\ backgrounds\ 2335591.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

img:not(logo) {
  width: 100%;
}

h1,h2,h3,h4 {
  letter-spacing: 3px;
  line-height: 1.25;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  font-family: var(--font-poppins);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--text-dark-blue);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  display: flex;
  gap: .5rem;
}

.logo-icon {
  font-size: 1.5rem;
  color: var(--bg-purple);
}

.logo-name {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--bg-purple);
}

.nav-menu {
  display: flex;
  gap: 1rem;
}

.nav-link {
  font-size: 1.1rem;
  color: var(--text-dark-blue);
  font-weight: 600;
}

.home-container {
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}